<div id="<%= dom_id composition %>">
  <p>
    <strong>Name:</strong>
    <%= composition.name %>
  </p>

  <p>
    <strong>Instruments:</strong>
    <%= composition.instruments %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= composition.description %>
  </p>

</div>
