<div id="<%= dom_id composition %>">
  <div class="card">
    <%= link_to composition_path(composition) do %>
      <%= cl_image_tag composition.photo.key, alt: "AI-generated image of your composition" if composition.photo.attached? %>
    <% end %>
  </div>
</div>
