<h1>Editing composition</h1>

<%= render "form", composition: @composition %>

<br>

<div>
  <%= link_to "Show this composition", @composition %> |
  <%= link_to "Back to compositions", compositions_path %>
</div>
