<p style="color: green"><%= notice %></p>
<%# <div class="container"> %>

  <%# <div class="row justify-content-center">
    <div class="col-12 col-sm-8"> %>
      <h1 class="composition-heading" data-controller="textmove" style="padding: 24px;">COMPOSITIONS</h1>
  <div class="content">
      <div id="compositions" class="cards">
        <% @compositions.each do |composition| %>
          <%= render composition %>

        <% end %>
      </div>
      <div class="form-login">
      <!-- Insert form here -->
      <h1>..create a composition..</h1>

      <%= render "form", composition: @composition %>
      <div>
  </div>
    <%# </div>
  </div> %>

<%# </div> %>
