.navbar-lewagon {
  padding-right: 48px;
  padding-left: 48px;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  display: flex;
}

.navbar-lewagon .navbar-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


.navbar-lewagon .navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  height: 50px;
  margin-top: 4px;
}

.navbar-lewagon .navbar-nav .nav-item.active {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.avatar {
  padding-top: 5px; /* Adjust this value as needed */
}
